/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffe5f7;
    /* Soft Pink */
    color: #942c6f;
    margin: 0;
    padding: 0;
    background-image: url('../assets/circuit.png');
}

main {
    max-width: 900px;
    margin: 60px auto;
    /* Increased margin for more space at the top */
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(52, 14, 72, 0.18);
    border-radius: 40px;
    /* More rounded corners */
    padding: 60px 50px;
    /* Slightly larger padding */
    backdrop-filter: blur(5px);
}

/* Header Styles */
#hero {
    text-align: center;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 3em;
    text-shadow: 1px 1px 8px #ffadd6,
        0 4px 60px #ff69b4bb;
    /* Neon-like glow */
    letter-spacing: 2px;
    font-weight: 900;
    margin: 20px 0;
    text-transform: uppercase;
    color: #ff69b4bb;
}

/* Recipe card styles */
.recipe-card {
    border-radius: 16px;
    box-shadow: 0 4px 16px 0 rgba(255, 105, 180, 0.15);
    background: #fff5fc;
    padding: 24px 32px;
    margin: 28px 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.recipe-card:hover {
    transform: scale(1.04) rotate(-2deg);
    box-shadow: 0 2px 42px 0 #ff69b4bb, 0 4px 16px 0 rgba(154, 80, 137, 0.06);

    z-index: 10;
}

.recipe-title {
    font-size: 1.5em;
    color: #ff69b4;
}

.recipe-desc {
    font-size: 1em;
    color: #942c6f;
    margin-top: 12px;
}

.evil-recipe {
    background: linear-gradient(135deg, #14001b 0%, #460006 100%);
    color: #ff2e2e !important;
    text-shadow: 2px 2px 8px #000000;
    box-shadow: 0 2px 42px 0 #ff0000bb, 0 4px 16px 0 rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    border: 2px solid #ff0000;
}